.footer {
    background-color: #E60026;
    margin-top: 40px;
}

.address {
    font-family: SwanseaTraditional;
    color: white;
    line-height: 6px;
    font-size: 12px;
    padding-left: 12px;
    padding-top: 12px;
}

.copyright {
    font-family: SwanseaTraditional;
    color: white;
    text-align: center;
    font-size: 12px;
}